<div class="container" style="padding-top: 10px;">

    <h1><i class="fa fa-code"></i> 地址信息
        <small>查看区块链地址信息</small>
    </h1>
<hr>
    <div id="address" class="blockdiv">
      <div style="font-size: 32px; font-weight: lighter; margin-bottom: 15px; display: inline-block;" align="center">{{ addressId }}</div><br /><br />
        <table class="table table-striped">
            <tbody><tr>
                <th colspan="2" style="text-align:left">概况</th>
            </tr>
            <tr>
                <td>当前余额</td>
                <td><span style="font-size: 24px; font-weight: lighter;">{{ balance }}</span><br /></td>
            </tr>
            <tr>
                <td>事务数量<em>(# of outgoing TXs)</em></td>
                <td>{{ txCount }}</td>
            </tr>
            <tr>
                <td>合约</td>
                <td><textarea style="min-width: 100%; background-color: #222; color: #08d410;">{{ code }}</textarea></td>
            </tr>
          </tbody>
      </table>
      <hr>
      
</div></div>
