<div class="container" style="padding-top: 10px;">

    <div class="boxi" style="clear:both;">查看区块链信息 <i class="fa fa-cube"></i> 块 {{number}}</div>

    <div id="block" class="blockdiv">
        <div style="padding-bottom:30px;width:100%;text-align:right;clear:both">
          <button class="btn btn-primary">{{conf}}</button>
          <button class="btn btn-success cb"><span>{{gasUsed}} Gas消耗</span></button>
          <a class="btn btn-primary btn-sm" ng-class="{disabled:firstBlock}" href="./#/block/{{blockNumber-1}}">&lt; 前一块</a>
          <a class="btn btn-primary btn-sm" ng-class="{disabled: lastBlock}" href="./#/block/{{blockNumber+1}}">下一块 &gt;</a>
        </div>
        <h2 style="margin-top: 30px;">
          <i class="fa fa-cube"></i> 概况
          <small>- 块信息 {{number}}</small>
        </h2>
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>块号</td>
                <td><a href="./#/block/{{blockNumber}}">{{number}}</a></td>
            </tr>
            <tr>
                <td>块 Hash</td>
                <td>{{ hash }}</td>
            </tr>
            <tr>
                <td>时间</td>
                <td>
                    {{timestamp}}
                </td>
            </tr>
            <tr>
              <td>确认</td>
              <td><span style="color: #08d410; font-weight: bold;">{{conf}}</span></td>
            </tr>
            <tr>
                <td>困难度</td>
                <td>
                    {{difficulty}}
                </td>
            </tr>
            <tr>
                <td>随机数</td>
                <td>{{nonce}}</td>
            </tr>
            <tr>
                <td>大小</td>
                <td>{{size}} bytes</td>
            </tr>
            <tr>
                <td>矿工</td>
                <td><a href="./#/address/{{miner}}">{{miner}}</a></td>
            </tr>
            <tr>
                <td>Gas限制</td>
                <td>{{gasLimit}}</td>
            </tr>
            <tr>
                <td>Gas消耗</td>
                <td>{{gasUsed}}</td>
            </tr>
            <tr>
                <td>叔辈Hash</td>
                <td>{{ uncledata }}</td>
            </tr>
            <tr>
                <td>状态根Hash</td>
                <td>{{ rootHash }}</td>
            </tr>
            <tr>
                <td>父亲Hash</td>
                <td>{{ parentHash }}</td>
            </tr>
            <tr>
                <td>数据</td>
                <td>{{extraData}}</td>
            </tr>

            <tr>
                <td>数据 (Translated)</td>
                <td>{{dataFromHex}}</td>
            </tr>

            <tr>
                <td>叔辈块数量</td>
                <td>{{numberOfUncles}}</td>
            </tr>

            <tr>
                <td>事务数量</td>
                <td>{{numberOfTransactions}}</td>
            </tr>

            </tbody>
        </table>
    </div>

    <h2 style="margin-top: 30px;">
      <i class="fa fa-exchange"></i> 事务
      <small>- 当前块包含的事务</small>
    </h2>

    <div ng-repeat="tx in transactions">
      <table class="table table-striped">
          <tbody>
          <tr>
              <th colspan="2" style="text-align:left">事务 #{{$index+1}}</th>
          </tr>
          <tr>
              <td>Hash #</td>
              <td><a href="./#/tx/{{tx.hash}}">{{tx.hash}}</a></td>
          </tr>
          <tr>
              <td>源</td>
              <td><a href="./#/address/{{tx.from}}">{{tx.from}}</a></td>
          </tr>
          <tr>
              <td>目的</td>
              <td><a href="./#/address/{{tx.to}}">{{tx.to}}</a></td>
          </tr>
          <tr>
             <td>合约地址</td>
             <td><a href="./#/address/{{tx.contractAddress}}">{{tx.contractAddress}}</a></td>
         </tr>
          <tr>
              <td>Gas</td>
              <td>{{tx.gas}}</td>
          </tr>
          <tr>
              <td>输入</td>
              <td><textarea style="min-width: 100%; background-color: #222; color: #08d410;">{{tx.input}}</textarea></td>
          </tr>
          <tr>
              <td>值</td>
              <td>{{tx.value}} ETH</td>
          </tr>
          </tbody>
      </table>
      <hr>
    </div>

</div>
